
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<form action="/Produto/Adicionar" method="post">
		<div class="row">
			<div class="col-md-6 mb-3">
				<label for="Nome">Nome:</label>
				<input id="Nome" name="produto.Nome" value="@ViewBag.Produto.Nome" placeholder="Nome do Produto" class="form-control" /><br />
			</div>
			<div class="col-md-6 mb-3">
				<label for="Descricao">Descrição:</label>
				<input id="Descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao" placeholder="Descrição do Produto" class="form-control" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-3">
				<label for="Preco">Preço:</label>
				<input id="Preco" name="produto.Preco" value="@ViewBag.Produto.Preco" placeholder="Preço do Produto" class="form-control" />
			</div>
			<div class="col-md-4 mb-3">
				<label for="Quantidade">Quantidade:</label>
				<input id="Quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" placeholder="Quantidade em Estoque" class="form-control" />
			</div>
			<div class="col-md-4 mb-3">
				<label for="Fabricante">Fabricante:</label>
				<input id="Fabricante" name="produto.Fabricante" value="@ViewBag.Produto.Fabricante" placeholder="Nome do Fabricante" class="form-control" />
			</div>
		</div>
		<br />
		<input type="submit" class="btn btn-primary btn-block" value="Cadastrar" />
	</form>
    <br />
    <div class="@ViewBag.Class" style="width:80%;" role="alert">
        @Html.ValidationMessage("Produto.Nome")<br />
        @Html.ValidationMessage("Produto.Descricao")<br />
        @Html.ValidationMessage("Produto.Preco")<br />
        @Html.ValidationMessage("Produto.Quantidade")<br />
        @Html.ValidationMessage("Produto.Fabricante")<br />
    </div>
    <br /><br />
    <form action="/Produto/Listar">
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Listar Produtos" />
    </form>
</body>
</html>
