@{
	ViewBag.Title = "Product List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Products</h1>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Category ID</th>
			<th>Category Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach ( var prod in ViewBag.Products ) {
			<tr>
				<td>@prod.Id</td>
				<td>@prod.Name</td>
				<td>@prod.Description</td>
				<td>@prod.Price</td>
				<td>@prod.Quantity</td>
				<td>@prod.CategoryId</td>
				@foreach ( var cat in ViewBag.Categories ) {
					if ( @cat.Id == @prod.CategoryId ) {
						<td>@cat.Name</td>
					}
				}
			</tr>
		}
	</tbody>
</table>
